.notfound{
  text-align: center;
}

.client{
    background-color: #121212;
    text-align: center;
    padding: 5%;
}

.client h1{
  color: white;
  margin-top: 0;
}


.client h3{
  color: white;
  margin-bottom: 0;
}


.client p{
  color: white;
  margin-bottom: 0;
}

.content{
  display: inline-block;
  margin: 3%;
}

.cover-escute{
  margin: 10%;
  width: 90%;
}

.carousel{
  text-align: center;
   height: auto;
   padding: 5%;
}

.gallery{
  padding: 1rem;
  height: 100%;
  position: relative;
}

.song{
  padding: 0 10%;
  margin-top: 5%;
}

.song h3{
  text-align: center;
  margin: 10%;
  font-size: 36px;

}

.song-card{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.video{
  background-color: #13091e;
}

.link{
  color: white;
  text-transform: uppercase;
}

.video{
  width : 100%;
}

.music-page{
}

.music-page h1{
  color: white;
}

.music-row{
  margin-top: 5%;

}
.last-column{
  margin: 0% 0%;
}

.BookMe h1{
  text-align: left;
  padding: 0 10%;
  color: Black;
}

.bandcamp{
  padding: 0 10%;
  border: 0;
  height: 5.0rem;
}

.wallpaper{
  padding: 10px 10px;
}

.whitefont h1{
  color: white;
}

.whitefont h3{
  color: white;
}
