
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #181818;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQk6YvM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.bergamo_orange{
  color:#ffaa3b;
}

.white {
  color: #C6C6C6;
}

.black {
  color: #000000;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  color: white;
  text-align: center;
  margin: auto;

  line-height: 1.5em;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  color: white;
  text-align: center;
  margin: auto;

 line-height: 1.5em;
}

h3,
h4,
h5,
p {
  color: white;
  font-size: large;
  line-height: 1.5;
}

.main > .container {
  padding-top: 5rem;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.bounce {
  animation: bounce 1.2s ease 0s infinite alternate;
}



#projects .showGrid p {
  margin-left: 40px;
}


html, body {
    margin: 0;
    padding: 0;
}


.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.menu {
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 830px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #999;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.text_link {
  color: white;
    text-decoration: underline white;
}

.menu__link:hover {
    color: bergamo_orange;
}

.menu__link:active {
    color: bergamo_orange;
    font-weight: 700;
}
.custom-logo{
  width: 110px;
  height: 85px;
}

.menu__logo {
  max-width: 100%;
  height: 70px;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: center;
}
