:root {
    --santeria_red: #ff0000;
    --santeria_orange: #FFAA3A;
    --santeria_blue: #244244;
    --santeria_gold: #956a1b;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
   background-size:  100%;
  background-image: url("./images/Santo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

@import url(//db.onlinewebfonts.com/c/2374d7c721fa48c5e2b06c3b2a9e6ba9?family=Knockout);

@font-face {font-family: "Knockout"; src: url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.eot"); src: url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.woff") format("woff"), url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2374d7c721fa48c5e2b06c3b2a9e6ba9.svg#Knockout") format("svg"); }

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQk6YvM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.band_photo{
  width:10%;
}
.bergamo_orange{
  color: #FFAA3A;
}

.white {
  color: #C6C6C6;
}

.black {
  color: #000000;
}

h1 {
  font-family: "Knockout", sans-serif;
  font-size: 72px;
  line-height: 86px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  line-height: 1.5em;

  letter-spacing: 5px;
}

h2 {
  font-family: "Knockout", sans-serif;
  font-size: 40px;

  color: #FFFFFF;
  text-align: center;
  margin: auto;

  text-transform: uppercase;
 line-height: 2.5em;

 letter-spacing: 5px;
}

h4 {
  font-family: "Knockout", sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
 line-height: 1.5em;

 letter-spacing: 5px;
}

h3,
h4,
h5,
p {
  color: white;
  font-size: large;

  line-height: 1.5em;
}

html, body {
    margin: 120;
    padding: 120;
}

.hide {
    display: none;
}

.menu {
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: inline-block;
    height: 80px;

  	text-align: center;
}

.menu_link {
  display: inline-block;
  font-family: "Knockout",sans-serif;

 letter-spacing: 5px;
  height: 100%;
  color: white;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}

.text_link {
  color: white;
    text-decoration: underline white;
}

.text_link:hover {
  color: white;
    text-decoration: underline white;
}

.menu_link:hover {
    color: #ffaa3b;
}

.menu_link:focus {
    color: #ffaa3b;
}

.custom-logo{
  width: 40%;
  display: inline-block;
	text-align: center;
  padding: 10px 10%;
}

ul li{
  list-style: none;
}

.display_inline{
  display: inline-block;
}

.SocialMedia{
  display: inline-block;
}
